$plum: #4D2C3D;
$ornate: #AB9353;
$olive: #57652A;
$bluebell: #155765;

$charleston: #2C2B30;
$dark: #4F4F51;
$light: #D6D6D6;
$orchidpink: #F2C4CE;
$tearose: #F58F7C;

.header-nav {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    
    

    a {
        font-family: 'Poppins', sans-serif, 'light';
        text-decoration: none;
        padding: .5em;
        color: $light;
        font-size: 1.5em;
        font-weight: 400;
    }

    a:hover {
        text-decoration: underline $orchidpink;
        color: $tearose;
        display: inline-block;
    }
}
