$plum: #4D2C3D;
$ornate: #AB9353;
$olive: #57652A;
$bluebell: #155765;

$charleston: #2C2B30;
$dark: #4F4F51;
$light: #D6D6D6;
$orchidpink: #F2C4CE;
$tearose: #F58F7C;

.footer-nav {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $light;

    .contact-info-1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
            text-decoration: none;
        }
        
        .name:hover {
            text-decoration: underline solid $ornate;
        }
    }

    .contact-info-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    a {
        font-family: 'Poppins', sans-serif, 'light';
        color: $charleston;
        font-size: 1.2em;
        font-weight: 400;
    }

    a:hover {
        color: $tearose
    }

    h1 {
        font-family: 'Poppins', sans-serif, 'light';
        color: $charleston;
    }
}