$plum: #4D2C3D;
$ornate: #AB9353;
$olive: #57652A;
$bluebell: #155765;

.about-me-main {
    background-color: #4D2C3D;
    color: white;
    font-family: 'Poppins', sans-serif, 'light';
    display: flex;
    flex-direction: column;
    padding: 2em
}